.section-token {
  padding-bottom: 80px;
  min-height: 100vh;
  background: url("./bg-pattern.jpg");
  background-position-x: center;
  position: relative;
  & ul,
  & li,
  & h2,
  & p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  & img {
    margin: 0px;
    max-width: 100%;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  & ul {
    list-style-type: none;
  }
  .yieldfield-parallax {
    background: linear-gradient(
      0deg,
      rgba(195, 179, 34, 1) 0%,
      rgba(34, 193, 195, 1) 85%
    );
    padding-top: 5vh;
    margin-bottom: 80px;
  }
  .yieldfield {
    z-index: 0;
    background: url("./yield-field.png");
    background-position-x: center;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    font-weight: bold;
    position: relative;
    color: #ffd28a;
    h2 {
      color: #f69993;
    }
    p,
    h2,
    li {
      text-shadow: 0 0 4px #1b1b18, 0 0 6px #1b1b18, 0 0 8px #1b1b18,
        0 0 10px #1b1b18, 0 0 12px #1b1b18;
    }
  }
  .yellow-flowers-top {
    transform: scale(-1, -1);
    position: relative;
    float: left;
    z-index: 0;
    width: 30vw;
    top: -80px;
    margin-right: -30vw;
  }
  .yellow-flowers-bot {
    position: relative;
    float: right;
    z-index: 0;
    width: 30vw;
    margin-left: -30vw;
    top: -10vw;
  }
}
