.sale-page {
  text-align: center;
  width: 90vw;
  max-width: 730px;
  z-index: 1;
  position: relative;
  h2 {
    margin: 0;
    margin-top: 20px;
  }
  .bnbInput {
    max-width: 120px;
    display: inline-block;
    margin: 10px;
  }
  .purchaseButton {
    display: inline-block;
    margin: 10px;
    position: relative;
    top: 6px;
  }
  .stats {
    text-align: right;
    margin: 10px;
    & > * {
      padding: 0 5px;
    }
    & > *:nth-child(even) {
      text-align: left;
    }
  }
}

@media screen and (max-width: 550px) {
  .stats {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 400px) {
  .stats {
    font-size: 0.8em;
  }
}
