.sale-page {
  text-align: center;
  width: 90vw;
  max-width: 720px;
  .bnbInput {
    max-width: 120px;
    display: inline-block;
    margin: 10px;
  }
  .purchaseButton {
    display: inline-block;
    margin: 10px;
    position: relative;
    top: 6px;
  }
}
