.zcoin {
  display: inline-block;
  .flip-container {
    perspective: 1000px;
  }
  .flip-container,
  .front,
  .back {
    width: 150px;
    height: 150px;
  }
  .flipper {
    transform-style: preserve-3d;
    position: relative;
    animation: flip 2s ease infinite;
  }
  .front,
  .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
